.App {
  text-align: center;
}

.mainHeader{
  margin-top: 100px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Navbar */
nav {
  background-color: #2d2e36;
  color: #fff;
  padding: 15px;
  font-size: 22px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100; /* Ensure the navbar appears above other content */
  transition: background-color 0.3s ease; /* Smooth background color transition */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Center the list items horizontally */
}

nav ul li {
  margin-right: 15%;
  font-size: 22px;
  background-color: #787578;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
}
.navTitle{
  background-color: #2d2e36;
  padding:5px;
  font-size: 26px;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease; /* Smooth color transition on hover */
}

nav ul li a:hover {
  color: #ec5be5; /* Change color on hover */
}

.addMovieButton {
  font-size: 26px;
  color: white;
  border-radius: 5px;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px 20px;
  background-color: rgb(2, 2, 2);
  margin-bottom: 20px;
 
}

.addMovieButton:hover {
  background-color: #f555ed;
  transform: scale(1.03); /* Slightly scale up on hover */
}

.addMovieButton:active {
  transform: scale(0.93); /* Slightly scale down on click */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); /* Lowering the shadow */
}

.addMovieButton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.1);
  transition: 0.3s all;
  z-index: -1;
  transform: translateY(100%);
}

.addMovieButton:hover::before {
  height: 100%; /* Slide in a semi-transparent background from the top on hover */
  transform: translateY(0);
  z-index: -1;
}


.custom-textarea::placeholder {
  /* Set the font properties to match the rest of the text */
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}


